p {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-size: 14px;
  color: #333333;
}

.image-container {
  margin-top: 4em;
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  animation: fadeIn 2s ease-in-out;

}

.image-container img {
  width: 100%;
}

.title-container-header {
  height: 100%;
  margin-top: 5em;
  animation: fadeIn 2s ease-in-out;

}

.p-header {
  padding-top: 30px;
  padding-bottom: 10px;
  color: #f7f8fc;
  font-size: x-small;
}

.img-header-container .img-header {
  margin: 20px;
  background-color: #f7f8fc;
  border-radius: 50%;
  width: 25%;
}

.header {
  position: relative;
  text-align: center;
  background: linear-gradient(60deg, #010300 0%, #5a7f78 100%);
  color: white;
}

.logo {
  width: 50px;
  fill: white;
  padding-right: 15px;
  display: inline-block;
  vertical-align: middle;
}

.inner-header {
  display: flex;
  height: 40vh;
  width: 100%;
}

.flex {
  /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

.content {
  position: relative;
  height: 20vh;
  text-align: center;
  background-color: #bbdec6;
}

.a-container {
  color: red;
  text-decoration: none;
}

.social {
  position: absolute;
  top: 30%;
  left: 5px;
  animation: socialFadeIn 2s ease-in-out;
}

.social .ul-header {
  padding: 0px;
  transform: translate(-270px, 0);
}

.social .ul-header .li-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 5px;
  background: #5a7f78;
  width: 290px;
  height: 20px;
  padding: 10px;
  border-radius: 0 30px 30px 0;
  transition: all 1s;
}

.social .ul-header .li-header:hover {
  transform: translate(110px, 0);
  background: rgba(255, 255, 255, 0.4);
}

.social .ul-header .li-header:hover .fab {
  background: #fff;
  transform: rotate(360deg);
  transition: all 1s;
}

.social .ul-header .li-header:hover .fa-facebook {
  color: #026aa1;
}

.social .ul-header .li-header:hover .fa-instagram {
  color: #E1306C;
}

.social .ul-header .li-header:hover .fa-linkedin {
  color: #0077b5;
}

.social .ul-header .li-header .fab {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: #314c53;
  padding: 10px;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  font-size: 19px;
  transform: rotate(0deg);
}

.icon-p {
  margin-right: 10px;
  font-weight: bold;
  color: #f7f8fc;
}

/* Animation */

.parallax>use {
  animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax>use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax>use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax>use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes socialFadeIn {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}

@media screen and (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }

  .content {
    height: 30vh;
  }

  .image-container {
    margin-top: 5em;

  }

  .social {
    top: 25%;
  }
}

@media screen and (max-width:600px) {
  .image-container {
    margin: 0 0;
  }

  .social {
    top: 37%;
  }

  .social .ul-header .li-header {
    height: 10px;
  }

  .social .ul-header .li-header .fab {
    width: 5px;
    height: 5px;
    font-size: 15px;
  }

  .icon-p {
    margin-right: 15px;
  }
}