.container {
  padding: 0 5.0rem;
  background-color: green;
}

.main {
  padding: 9rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(277px, 1fr));
  row-gap: 2rem;
  column-gap: 6rem;
  align-items: center;
  animation: topSideAni 1s ease forwards;
}

.rounding-sec {
  position: relative;
  height: 400px;
  width: 400px;
}


.big-circle {
  height: 100%;
  width: 100%;
  position: relative;
  border: 3px solid #d5d8dc;
  border-radius: 50%;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  animation: Rotate 20s linear infinite;
  -webkit-animation: Rotate 20s linear infinite;
}

.icon-block {
  width: 64px;
  height: 64px;
  position: absolute;
  border-radius: 50%;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  background-color: #f8f9f9;
  box-shadow: 0 0 10px #1b2631;
}

.icon-block img {
  margin: 0px auto;
  width: 60%;
  animation: Rotate-reverse 20s linear infinite;
  -webkit-animation: Rotate-reverse 20s linear infinite;
}

.icon-block:first-child {
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.icon-block:nth-child(2) {
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
  -webkit-transform: translate(50%, -50%);
}

.icon-block:nth-child(3) {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  -webkit-transform: translate(-50%, 50%);
}

.icon-block:nth-child(4) {
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.images {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



.images img {
  width: 300px;
  border-radius: 50%;
  box-shadow: 0 0 10px #f8f9f9;
}


/* keyframe animation */

@keyframes Rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes Rotate {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes Rotate-reverse {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}

@-webkit-keyframes Rotate-reverse {
  from {
    -webkit-transform: rotate(360deg);
  }

  to {
    -webkit-transform: rotate(0deg);
  }
}

/* Animation */
@keyframes leftSideAni {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes navani {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes topSideAni {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}



/* media */
@media screen and (max-width: 768px) {
  .container {
    padding: 0 1.6rem;
  }
}

@media screen and (max-width: 1024px) {
  .main {
    color: #000;
    margin-top: 1rem;
  }

  .container {
    padding: 0 4.4rem;
  }
}

@media screen and (max-width: 990px) {
  .main {
    grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
  }

  .rounding-sec {
    margin: auto;
  }
}

@media screen and (max-width:600px) {
  .main {
    grid-template-columns: repeat(auto-fit, minmax(266px, 1fr));
    margin-top: 2rem;
    overflow-x: hidden;
  }

  .icon-block {
    width: 50px;
    height: 50px;
  }

  .rounding-sec {
    height: 300px;
    width: 300px;
  }

  .images {
    width: 200px;
  }
}