
.main {
  background-color: #f7f8fc;
  padding: 5.8rem 12rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(277px, 1fr));
  row-gap: 2rem;
  column-gap: 6rem;
  align-items: center;
  animation: topSideAni 1s ease forwards;
}

.rounding-sec {
  position: relative;
  height: 400px;
  width: 400px;
}


.big-circle {
  height: 100%;
  width: 100%;
  position: relative;
  border: 3px solid #bbdec6;
  border-radius: 50%;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  animation: Rotate 20s linear infinite;
  -webkit-animation: Rotate 20s linear infinite;
}

.icon-block {
  width: 64px;
  height: 64px;
  position: absolute;
  border-radius: 50%;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  background-color: #f7f8fc;
  box-shadow: 0 0 20px #314c53;
}

.icon-block img {
  margin: 0px auto;
  width: 60%;
  animation: Rotate-reverse 20s linear infinite;
  -webkit-animation: Rotate-reverse 20s linear infinite;
}

.icon-block:first-child {
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.icon-block:nth-child(2) {
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
  -webkit-transform: translate(50%, -50%);
}

.icon-block:nth-child(3) {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  -webkit-transform: translate(-50%, 50%);
}

.icon-block:nth-child(4) {
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.images {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.images img {
  width: 300px;
  border-radius: 50%;
  box-shadow: 0 0 10px #f7f8fc;
}

/*SIDE RIGTH*/
.side-rigth {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: -100;
}

.group {
  transition-duration: 500ms;
}

.group:hover {
  transform: skewX(6deg) translateX(2px);
}

.card {
  transition-duration: 500ms;
  position: relative;
  border-radius: 1rem;
  width: 18rem;
  height: 9rem;
  background-color: #5a7f78;
  color: #f7f8fc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}

.card::before {
  content: '';
  background-color: #bbdec6;
  border-radius: 1rem;
  width: 18rem;
  height: 8rem;
  transform: skewX(12deg);
  position: absolute;
  right: -0.85rem;
  top: 0;
  z-index: -10;
}

.card-span {
  font-size: 2rem;
  font-weight: bold;
}

.card-p {
  color: #010300;
  font-weight: 150;
}

.card-2 {
  padding-top: 80px;
  width: 500px;
  height: 200px;
  overflow: visible;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card2-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-card2 {
  --size: 100px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  transform: translateY(-50%);
  background: #5a7f78;
  background: linear-gradient(to bottom, #bbdec6 0%, #f7f8fc 100%);
  position: relative;
}



/*Text*/
.text-body {
  font-size: 1em;
  text-align: justify;
  color: #314c53;
  font-weight: 500;
}


/* keyframe animation */

@keyframes Rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes Rotate {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes Rotate-reverse {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}

@-webkit-keyframes Rotate-reverse {
  from {
    -webkit-transform: rotate(360deg);
  }

  to {
    -webkit-transform: rotate(0deg);
  }
}

/* Animation */
@keyframes leftSideAni {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes navani {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes topSideAni {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}



/* media */
@media screen and (max-width: 1024px) {
  .container {
    padding: 0 4.4rem;
  }


}

@media screen and (max-width: 990px) {
  .main {
    grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
    padding: 0;
  }

  .rounding-sec {
    margin: auto;
    padding: 3rem;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 1rem;
  }
}

@media screen and (max-width:600px) {
  .menu {
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary-color);
  }

  .main {
    grid-template-columns: repeat(auto-fit, minmax(266px, 1fr));
    margin-top: 2rem;
    overflow-x: hidden;
  }

  .icon-block {
    width: 50px;
    height: 50px;
  }

  .rounding-sec {
    height: 300px;
    width: 300px;
  }

  .images img {
    width: 200px;
  }
}