.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  width: 70%;
  height: 70%;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.modal-title {
  margin: 0;
  color: #314c53;
}

.close-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: larger;
  font-weight: bold;
  color: #5a7f78;
}

.modal-content {
  padding: 10px;
  overflow-y: auto;
  max-height: calc(95% - 40px);
}